USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[RoleID] [int] NOT NULL,
	[QuocTich] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DichVu]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DichVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhuThu]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhuThu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaLoaiPT] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [decimal](18, 0) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[GiaTien] [decimal](18, 0) NULL,
	[DonVi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayDat] [datetime] NULL,
	[NgayNhan] [date] NOT NULL,
	[NgayTra] [date] NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[IDTaiKhoan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SoNguoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhuThu]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhuThu](
	[MaLoaiPT] [int] IDENTITY(1,1) NOT NULL,
	[TenPT] [nvarchar](100) NOT NULL,
	[GiaTien] [decimal](18, 0) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDat]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[LoaiPhong] [nvarchar](50) NULL,
	[NgayDat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [numeric](38, 2) NULL,
	[Detail] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[MaLoai] [int] NOT NULL,
	[MaTrangThai] [int] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[SoGiuongPhuToiDa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 29/04/2026 3:02:37 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[MaTrangThai] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([IDTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [RoleID], [QuocTich]) VALUES (1, N'admin', N'123456', N'Quản Trị Viên', N'0909999999', N'Hà Nội', 1, N'Việt Nam')
INSERT [dbo].[Account] ([IDTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [RoleID], [QuocTich]) VALUES (2, N'letan', N'123456', N'Nhân Viên Lễ Tân', N'0908888888', N'Sảnh Chính', 2, N'Việt Nam')
INSERT [dbo].[Account] ([IDTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [RoleID], [QuocTich]) VALUES (3, N'cuong123', N'123456', N'Vo Tri Cuong', N'0901234567', N'123 TEST', 3, N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[CTHD] ON 

INSERT [dbo].[CTHD] ([MaCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 58, 1, CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[CTHD] ([MaCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 59, 1, CAST(520000 AS Decimal(18, 0)))
INSERT [dbo].[CTHD] ([MaCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (3, 2, 60, 1, CAST(500000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CTHD] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaTien], [DonVi]) VALUES (1, N'Ăn sáng Buffet', CAST(150000 AS Decimal(18, 0)), N'Người/Ngày')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaTien], [DonVi]) VALUES (2, N'Giặt ủi cao cấp', CAST(50000 AS Decimal(18, 0)), N'Kg')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaTien], [DonVi]) VALUES (3, N'Thuê xe máy', CAST(120000 AS Decimal(18, 0)), N'Ngày')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [HoTen], [DienThoai], [DiaChi], [NgayDat], [NgayNhan], [NgayTra], [TongTien], [IDTaiKhoan]) VALUES (1, N'Quản Trị Viên', N'0909999999', NULL, CAST(N'2025-12-31T22:01:47.730' AS DateTime), CAST(N'2026-01-02' AS Date), CAST(N'2026-01-03' AS Date), CAST(1000000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HoaDon] ([MaHD], [HoTen], [DienThoai], [DiaChi], [NgayDat], [NgayNhan], [NgayTra], [TongTien], [IDTaiKhoan]) VALUES (2, N'Vo Tri Cuong', N'0901234567', NULL, CAST(N'2025-12-31T22:18:47.377' AS DateTime), CAST(N'2026-01-01' AS Date), CAST(N'2026-01-02' AS Date), CAST(500000 AS Decimal(18, 0)), 3)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [Name], [SoNguoi]) VALUES (1, N'Phòng Đơn', 1)
INSERT [dbo].[Loai] ([MaLoai], [Name], [SoNguoi]) VALUES (2, N'Phòng Đôi', 2)
INSERT [dbo].[Loai] ([MaLoai], [Name], [SoNguoi]) VALUES (3, N'Phòng Ba', 3)
SET IDENTITY_INSERT [dbo].[Loai] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhuThu] ON 

INSERT [dbo].[LoaiPhuThu] ([MaLoaiPT], [TenPT], [GiaTien], [DonViTinh]) VALUES (1, N'Giường phụ (Extra Bed)', CAST(200000 AS Decimal(18, 0)), N'Giường/Đêm')
INSERT [dbo].[LoaiPhuThu] ([MaLoaiPT], [TenPT], [GiaTien], [DonViTinh]) VALUES (2, N'Check-in sớm (Trước 12h)', CAST(100000 AS Decimal(18, 0)), N'Giờ')
INSERT [dbo].[LoaiPhuThu] ([MaLoaiPT], [TenPT], [GiaTien], [DonViTinh]) VALUES (3, N'Check-out muộn (Sau 12h)', CAST(100000 AS Decimal(18, 0)), N'Giờ')
SET IDENTITY_INSERT [dbo].[LoaiPhuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDat] ON 

INSERT [dbo].[PhieuDat] ([Id], [TenKhach], [SoDienThoai], [LoaiPhong], [NgayDat]) VALUES (1, N'Võ Test', N'01234567897', N'Thực hiện lại đặt phòng', CAST(N'2026-04-27T11:13:09.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuDat] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([ID], [Name], [Price], [Detail], [ImageUrl], [MaLoai], [MaTrangThai], [GhiChu], [SoGiuongPhuToiDa]) VALUES (58, N'P101', CAST(500000.00 AS Numeric(38, 2)), N'Phòng đơn tiện nghi, có giường đơn, bàn làm việc và wifi miễn phí.', N'a1.jpg', 1, 2, NULL, 0)
INSERT [dbo].[Phong] ([ID], [Name], [Price], [Detail], [ImageUrl], [MaLoai], [MaTrangThai], [GhiChu], [SoGiuongPhuToiDa]) VALUES (59, N'P102', CAST(520000.00 AS Numeric(38, 2)), N'Phòng đơn tiện nghi, view thành phố, phòng tắm hiện đại.', N'a2.jpg', 1, 2, NULL, 0)
INSERT [dbo].[Phong] ([ID], [Name], [Price], [Detail], [ImageUrl], [MaLoai], [MaTrangThai], [GhiChu], [SoGiuongPhuToiDa]) VALUES (60, N'P103', CAST(500000.00 AS Numeric(38, 2)), N'Phòng đơn nhỏ nhưng tiện nghi đầy đủ.', N'a3.jpg', 1, 2, NULL, 0)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
INSERT [dbo].[Role] ([RoleID], [ChucVu]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [ChucVu]) VALUES (2, N'Nhân viên')
INSERT [dbo].[Role] ([RoleID], [ChucVu]) VALUES (3, N'Khách hàng')
GO
INSERT [dbo].[TrangThaiPhong] ([MaTrangThai], [TrangThai]) VALUES (1, N'Trống')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThai], [TrangThai]) VALUES (2, N'Đang có khách')
INSERT [dbo].[TrangThaiPhong] ([MaTrangThai], [TrangThai]) VALUES (3, N'Đang dọn dẹp')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__55F68FC060AAEF04]    Script Date: 29/04/2026 3:02:38 CH ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DichVu] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[CT_PhuThu] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[CTHD] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [GiaTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[Loai] ADD  DEFAULT ((2)) FOR [SoNguoi]
GO
ALTER TABLE [dbo].[LoaiPhuThu] ADD  DEFAULT ((0)) FOR [GiaTien]
GO
ALTER TABLE [dbo].[PhieuDat] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((1)) FOR [MaTrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [SoGiuongPhuToiDa]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[CT_DichVu]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[CT_DichVu]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_PhuThu]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_PhuThu]  WITH CHECK ADD FOREIGN KEY([MaLoaiPT])
REFERENCES [dbo].[LoaiPhuThu] ([MaLoaiPT])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[Phong] ([ID])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[Account] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThaiPhong] ([MaTrangThai])
GO
